@page
@model BookInventoryModel
@{
    ViewData["Title"] = "Book Inventory";
}

<div class="container-fluid my-4">
    <div class="row">
        <div class="col-md-5">
            <div class="card bg-secondary-subtle">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <center>
                                <h4>Book Details</h4>
                                <hr />
                            </center>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <center>
                                @if (TempData["PreviewImage"] != null)
                                {
                                    <img id="imgview" src="@Url.Content(TempData["PreviewImage"].ToString())" width="100px" height="150px" />
                                }
                                else
                                {
                                    <img id="imgview" src="/images/books1.png" width="100px" height="150px" />
                                }
                            </center>
                        </div>
                    </div>

                    @if (TempData["Message"] != null)
                    {
                        <div class="alert alert-info alert-dismissible fade show" role="alert">
                            @TempData["Message"]
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    }

                    <form method="post" enctype="multipart/form-data">
                        <div class="row mt-3">
                            <div class="col">
                                <center>
                                    <input type="file" class="form-control" asp-for="FileUpload" onchange="readURL(this)" />
                                </center>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Book ID</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" asp-for="BookId" placeholder="Book ID" />
                                        <button type="submit" asp-page-handler="Search" class="btn btn-primary">
                                            <i class="fas fa-search"></i> Go
                                        </button>
                                    </div>
                                    <span asp-validation-for="BookId" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-8">
                                <div class="form-group">
                                    <label class="form-label">Book Name</label>
                                    <input type="text" class="form-control" asp-for="BookName" placeholder="Book Name" />
                                </div>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Language</label>
                                    <select class="form-control" asp-for="Language">
                                        <option value="English">English</option>
                                        <option value="Tagalog">Tagalog</option>
                                    </select>
                                </div>

                                <div class="form-group mt-2">
                                    <label class="form-label">Current Stock</label>
                                    <input type="number" class="form-control" asp-for="CurrentStock" readonly />
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Author Name</label>
                                    <input type="text" class="form-control" asp-for="Author" placeholder="Author Name" />
                                </div>

                                <div class="form-group mt-2">
                                    <label class="form-label">Issued Books</label>
                                    <input type="number" class="form-control" asp-for="IssuedBooks" readonly />
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Genre</label>
                                    <select class="form-control" asp-for="SelectedGenres" multiple size="4" style="height:115px">
                                        @foreach (var genre in Model.GenreList)
                                        {
                                            <option value="@genre">@genre</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="form-label">Book Description</label>
                                    <textarea class="form-control" asp-for="Description" rows="4" placeholder="Book Description"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="d-flex justify-content-center gap-3 mt-4">
                                <div class="d-grid col-3">
                                    <button type="submit" asp-page-handler="Add" class="btn btn-lg btn-success">Add</button>
                                </div>
                                <div class="d-grid col-3">
                                    <button type="submit" asp-page-handler="Update" class="btn btn-lg btn-warning">Update</button>
                                </div>
                                <div class="d-grid col-3">
                                    <button type="submit" asp-page-handler="Delete" class="btn btn-lg btn-danger">Delete</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-7">
            <div class="card bg-light">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <center>
                                <i class="fa-solid fa-book fa-beat" style="color: #0854d9; font-size: 90px;"></i>
                            </center>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <center>
                                <h4>Book Inventory</h4>
                                <hr />
                            </center>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <table id="booksTable" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>Book ID</th>
                                        <th>Book Information</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var book in Model.Books)
                                    {
                                        <tr>
                                            <td>@book.BookId</td>
                                            <td>
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <div class="col-lg-9">
                                                            <div class="row">
                                                                <div class="col-12">
                                                                    <span class="h5 text-decoration-underline">@book.BookName</span>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-12">
                                                                    <b>Author</b> - @book.Author |
                                                                    <b>Language</b> - @book.Language |
                                                                    <b>Genre</b> - @book.Genre
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-12">
                                                                    <b>Current Stock</b> - @book.CurrentStock |
                                                                    <b>Issued Books</b> - @book.IssuedBooks
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-12">
                                                                    <b>Description</b> - <i>@book.Description</i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3 d-flex align-items-center justify-content-center">
                                                            <img class="img-fluid" src="@Url.Content(book.ImageUrl)" alt="@book.BookName" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#booksTable').DataTable();
        });

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $("#imgview").attr("src", e.target.result);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
}
