@page
@model ProfileModel
@{
    ViewData["Title"] = "Profile";
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["SuccessMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["ErrorMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="container-fluid my-4">
    <div class="row">
        <div class="col-md-5">
            <div class="card bg-secondary-subtle">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <center>
                                <i class="fa-regular fa-id-badge fa-beat" style="color: #0854d9; font-size: 90px;"></i>
                            </center>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col">
                            <center>
                                <span class="badge text-bg-primary">Member</span>
                                <hr />
                            </center>
                        </div>
                    </div>

                    <form method="post">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Full Name</label>
                                    <input type="text" class="form-control" asp-for="FullName" placeholder="Full Name">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Date of Birth</label>
                                    <input type="date" class="form-control" asp-for="DateOfBirth">
                                </div>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Contact Number</label>
                                    <input type="number" class="form-control" asp-for="ContactNumber" placeholder="Contact Number">
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Email ID</label>
                                    <input type="email" class="form-control" asp-for="Email" placeholder="Email ID">
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Country</label>
                                    <select class="form-control" asp-for="Country">
                                        <option value="">Select</option>
                                        <option value="Brunei">Brunei</option>
                                        <option value="Cambodia">Cambodia</option>
                                        <option value="Indonesia">Indonesia</option>
                                        <option value="Laos">Laos</option>
                                        <option value="Malaysia">Malaysia</option>
                                        <option value="Myanmar">Myanmar</option>
                                        <option value="Philippines">Philippines</option>
                                        <option value="Singapore">Singapore</option>
                                        <option value="Thailand">Thailand</option>
                                        <option value="Vietnam">Vietnam</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <center>
                                    <hr />
                                </center>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <center>
                                    <span class="badge rounded-pill text-bg-success">Change Login Credentials</span>
                                </center>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Member ID</label>
                                    <input type="text" class="form-control" asp-for="MemberId" readonly>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Password</label>
                                    <input type="text" class="form-control" asp-for="Password" placeholder="Password">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="d-flex justify-content-center gap-4 mt-4">
                                <div class="d-grid col-5">
                                    <button type="submit" class="btn btn-warning btn-lg" asp-page-handler="Update">Update Account</button>
                                </div>
                                <div class="d-grid col-5">
                                    <button type="submit" class="btn btn-danger btn-lg" asp-page-handler="Delete">Delete Account</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-7">
            <div class="card bg-light">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <center>
                                <i class="fa-solid fa-book-open fa-beat" style="color: #0854d9; font-size: 90px;"></i>
                            </center>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <center>
                                <h4>Your Issued Books</h4>
                                <hr />
                            </center>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <table class="table table-stripped table-bordered" id="issuedBooks">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Book Name</th>
                                        <th>Issued Date</th>
                                        <th>Due Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var book in Model.IssuedBooks)
                                    {
                                        <tr>
                                            <td>@book.BookId</td>
                                            <td>@book.BookName</td>
                                            <td>@book.IssueDate</td>
                                            <td>@book.DueDate</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#issuedBooks').DataTable();
        });
    </script>
}

